---
export const prerender = false;
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
  integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>

<Layout title="Todos ayudamos">
  <main class="font-mono">
    <div>
      <h1 class="text-gradient">Hi There</h1>
    </div>
    <div>
      <p>I'm a Bitcoiner and Software Engineer from Viña del Mar, Chile.</p>
      <br />
      <p>
        My home town Viña del Mar and neighbouring city Quilpue were heavily hit
        by wildfires on the weekend of the 2nd of February.
      </p>
      <br />
      <p>
        >15000 houses were destroyed and >100 people lost their life. Everyone
        is trying to help each other in any way they can.
      </p>
      <br />
      <p>I'm collecting donations for people in need using Bitcoin.</p>
      <br />
      <p>
        With your help we already helped
        <strong
          >over 100 families that lost everything. <a
            class="underline"
            href="https://twitter.com/mauricepoirrier/status/1755030800779694523"
            >Thank you! (video)</a
          ></strong
        >
      </p>
      <br />
      <p class="font-bold text-gradient text-3xl py-8">
        we collected 2946604 Satoshis.
      </p>
    </div>
    <YouTube id="6Gb-W-wJHCE" />
    <div class="flex flex-col items-center justify-center my-8">
      <div id="qrcode"></div>
      <p>Click qr to copy it!</p>
    </div>

    <p>
      Thank you for everything. I've closed the collection. Every satoshi in
      this campaign was donated directly to families in need.
    </p>
    <div class="mt-8">
      <strong>Timeline</strong>
      <br />
      <div>
        <ul class="text-xs">
          <li>
            <strong>2024-02-16 11:00</strong> ->
            <a
              class="underline"
              href="https://drive.google.com/file/d/1OFYYggtDKEXb_RAUO04rVSuxQyqucUr8/view?usp=sharing"
              >Bought structural plywood to build prefabricated houses.</a
            >
          </li>
          <li>
            <strong>2024-02-16 10:00</strong> -> After calling the store. I received
            <a
              class="underline"
              href="https://drive.google.com/file/d/1_BDYm17rzWiQOUBprOIbMCSA2KW8HMdr/view?usp=sharing"
              >the receipt.</a
            > No bed yet.
          </li>
          <li>
            <strong>2024-02-15 20:05</strong> -> Withdraw 266957 Sats to receive
            $133.422 CLP
          </li>
          <li>
            <strong>2024-02-15</strong> -> Been waiting all day for the bed. Calling
            the store and no receipt and no bed.
          </li>
          <li>
            <strong>2024-02-13</strong> -> <a
              class="underline"
              href="https://drive.google.com/drive/folders/1_dUzl_vkfrtyhlecJnAoiP9S4iHvttVR?usp=sharing"
              >Delivered food to common pots. Morale is high 🇨🇱.</a
            >
          </li>
          <li>
            <strong>2024-02-10</strong> -> One of my closests friends hosted 2 families
            and we were helping them collecting donations. We were able to buy them
            their bed for their new renting place. <a
              class="underline"
              href="https://drive.google.com/file/d/1BPjYVcy3XnnIFOSoXYphH4MZngH8RCEv/view?usp=sharing"
              >Webpage is bugged, so I haven't been able to add pictures of
              receipt.</a
            >
          </li>
          <li>
            <strong>2024-02-09 16:26</strong> -> Withdraw 436165 Sats to receive
            $200.000 CLP
          </li>
          <li>
            <strong>2024-02-08</strong> -> <a
              class="underline"
              href="https://drive.google.com/file/d/1JiEU_FnQJAwmFNKvZWnb_mgIQTwFNi2r/view?usp=sharing"
              >Bought waterpump and pressurizer for a neighborhood association
              so they can store and drink water.</a
            >
          </li>
          <li>
            <strong>2024-02-08</strong> -> <a
              class="underline"
              href="https://drive.google.com/drive/folders/1Jh0XNutcBan9lAjjGQcosmdAR_C5s78H?usp=drive_link"
              >Delivery lunch for families with carozzi.</a
            >
          </li>
          <li>
            <strong>2024-02-07</strong> -> Gathering information directly with families.
            Direct help is mostly needed.
          </li>
          <li>
            <strong>2024-02-07</strong> -> <a
              class="underline"
              href="https://twitter.com/BudaPuntoCom/status/1755335953801986299"
            >
              Partnered with Buda.com for no comission on sats exchanged</a
            >
          </li>
          <li>
            <strong>2024-02-06 21:00</strong> -> <a
              class="underline"
              href="https://drive.google.com/drive/folders/1Idtky6gGt0C4PHXbnejpie0bKLQGUTiW?usp=drive_link"
            >
              End of first day. Picture of everything. Delivered complete
              donation.</a
            >
          </li>
          <li>
            <strong>2024-02-06 10:59</strong> -> Withdraw 498438 Sats to receive
            $200.000 CLP
          </li>
          <li>
            <strong>2024-02-06 10:46</strong> -> <a
              class="underline"
              href="https://drive.google.com/file/d/1H1Tu5YW_Wu8YR0H8mbJbH2TssQuWl3u5/view?usp=drivesdk"
            >
              First donation bought</a
            >
          </li>
          <li>
            <strong>2024-02-06 9:30</strong> -> Partnered with <a
              class="underline"
              href="https://fundacionpiensa.cl/">P!ensa</a
            > to reach out peolple and transport.
          </li>
          <li>
            <strong>2024-02-06 9:00</strong> -> I withdraw 1744044 Sats to receive
            $700.000 CLP.
          </li>
          <li>
            <strong>2024-02-05 20:00</strong> -> Published site.
          </li>
        </ul>
      </div>
      <div>
        <p class="mt-4">
          I will publish all receipt and photos when available.
        </p>
        <br />
        <a
          class="underline"
          href="https://github.com/mauricepoirrier/todosayudamos.cl"
          >Shitty code on github here</a
        >
      </div>
    </div>
  </main>

  <script>
    // @ts-ignore
    var div = document.getElementById("qrcode");
    // @ts-ignore
    new QRCode(div, {
      text: "bitcoin:3CwoZXUEL88yLiZ7gUzirFapsmtNGqDSZM?message=Wildfires in Chile donation",
      width: 300,
      height: 300,
    });
    // @ts-ignore
    div.addEventListener("click", function (_) {
      navigator.clipboard.writeText("3CwoZXUEL88yLiZ7gUzirFapsmtNGqDSZM");
    });
  </script>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
