---
let invoice = "";

if (Astro.request.method == "POST") {
  const data = await Astro.request.formData();
  const amount = data.get("amount");

  try {
    const response = await fetch(`http://${Astro.url.host}/api/invoice.json`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ amount: amount }),
    });

    // Display API response
    const data = await response.json();
    invoice = data.invoice;
  } catch (error) {
    console.error(error);
  }
}
---

<form method="POST">
  <input
    class="text-gray-600"
    type="number"
    min="0"
    name="amount"
    placeholder="Amount"
  />
  <button type="submit">Submit</button>
</form>

{
  invoice ? (
    <>
      <div class="flex flex-col items-center justify-center my-8">
        <div id="invoice" />
        <p onclick="">Click invoice to copy it!</p>
      </div>
    </>
  ) : (
    ""
  )
}

<script define:vars={{ invoice }}>
  if (invoice !== "") {
    // @ts-ignore
    var div = document.getElementById("invoice");
    new QRCode(div, {
      text: invoice,
      width: 300,
      height: 300,
    });

    div.addEventListener("click", function (_) {
      navigator.clipboard.writeText(invoice);
    });
  }
</script>

<script>
  function myFunction() {
    // Get the text field
    var copyText = document.getElementById("myInput");

    // @ts-ignore
    copyText.select();
    // @ts-ignore
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // @ts-ignore

    navigator.clipboard.writeText(copyText.value);
  }
</script>
